
{% extends '::base2.html.twig' %}

{% block title %}Kasse{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/jquery.printPage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/checkout.js') }}" type="text/javascript"></script>

{% endblock %}

{% block body %}
    <h1>Kasse </h1>
    </div>
    </header>
    <div class="ym-wrapper">

        <div class="ym-column">
            <div class="ym-col1">

                <div class="ym-cbox">
                    <div class="shopinglist">
                        <table >
                            <thead>

                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Menge</th>
                                <th>Bezeichung</th>
                                <th>MwSt</th>
                                <th>Preis</th>
                               <!-- <th>PA</th> -->
                                <th>Summe</th>
                            </tr>
                            </thead>
                            <tbody class="co_items">
                            {% for item in basket.checkoutItems %}
                                <tr data-sum="{{ (item.quantity * item.price) }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.articleCode }}</td>
                                    <td><input class="iteminput" value="{{ item.quantity }}" data-id="{{ item.id }}"></td>
                                        <!--<div class="itemEdit">
                                           <a href="#" data-action="minus" data-id="{{ item.id }}"><img src="{{ asset('images/icons/arrow-down.png') }}" alt="- Menge" /></a>
                                           <a href="#" data-action="plus" data-id="{{ item.id }}"><img src="{{ asset('images/icons/arrow-up.png') }}" alt="+ Menge" /></a>
                                        </div>-->



                                    <td>{{ item.description }}</td>
                                    <td>{{ item.VAT }}</td>
                                    <td><div class="ItemPricShow">{{ item.price|number_format(2, '.', ',')  }} &euro;</div>
                                        <div class="ItemPricEdit"><input class="itemprice" value="{{ item.price|number_format(2, '.', ',')  }}" data-id="{{ item.id }}"></div>
                                    </td>
                                    <!-- <td></td> -->
                                    <td>{{ (item.quantity * item.price)|number_format(2, '.', ',')  }}  &euro;
                                        <div class="itemEdit">
                                            <a href="#" data-action="delete" data-id="{{ item.id }}"><img src="{{ asset('images/icons/remove2.png') }}" alt="Löschen" /></a>

                                        </div>
                                    </td>

                                </tr>


                            {% endfor %}
                            </tbody>
                        </table>

                    </div>



                    <div class="toPaydialog" title="Bezahlen">
                        Betrag
                        <div class="co_toPay">

                        </div>
                        Bezahlt
                        <input type="text" class="co_payed" >
                        Rückgeld
                        <div class="co_return">

                        </div>
                        <form action="{{ path('BSCheckout_finish', { 'cashbox_id': cashbox.id,}) }}" method="post">
                            <input type="hidden" name="cashbox_id" value="{{ cashbox.id}}">
                            <input type="hidden" name="payment_id" value="11">
                            <button class="ym-button" >Bar</button>
                        </form>
                        <form action="{{ path('BSCheckout_finish', { 'cashbox_id': cashbox.id,}) }}" method="post">
                            <input type="hidden" name="cashbox_id" value="{{ cashbox.id}}">
                            <input type="hidden" name="payment_id" value="11">
                            <button class="ym-button" >EC</button>
                        </form>
                        <button class="ym-button receipt btnPrint"  href='{{ path('BSCheckout_receipt', { 'cashbox_id': cashbox.id,'id': basket.id,}) }}' >Quittung</button>


                    </div>


                    <ul class="Payment_Buttons">
                        <li>
                            <label for="inputkeyboard">Eingabe:</label>
                            <input type="text" id="inputkeyboard" class="inputkeyboard" data-cashbox="{{ cashbox.id }}">
                        </li>
                        <li>
                            <button class="toPay ym-button">Bezahlen</button>
                        </li>
                        <li>

                            <button class="order ym-button">Rechung</button>
                            <div class="orderdialog" title="Rechnung erstellen" >
                                <form action="{{ path('BSCheckout_order', { 'cashbox_id': cashbox.id,}) }}" method="post">
                                    {{ form_widget(form) }}
                                    <button class="ym-button" >Erstellen</button>
                                </form>

                            </div>
                        </li>
                        <li>
                            <button class="ym-button pflege" >Pflegeanleitung</button>
                        </li>

                        <li>
                            <form action="{{ path('BSCheckout_clear', { 'cashbox_id': cashbox.id }) }}" method="post">
                                <button class="ym-button">CLEAR</button>
                            </form>
                        </li>
                        <li>
                            <a href="{{ path('BSCheckout_history', { 'cashbox_id': cashbox.id , 'date': "now"  }) }}" class="ym-button">History</a>
                        </li>
                        <li>
                            <a href="{{ path('checkout_cashbox_show', { 'id': cashbox.id  }) }}" class="ym-button">Konfiguration</a>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="ym-col2">
                <div class="ym-cbox">



                    <div class="co_result">
                        Betrag
                        <div class="co_toPay">

                        </div>
                    </div>

                        <div class="input_buttons">
                            {% for key,item in quickbuttons %}


                                <div class="checkout-box" data-code="{{ item.code }}">
                                    {{ item.name }}
                                </div>

                            {% endfor %}
                        </div>








                </div>
            </div>
        </div>

    </div>

{% endblock %}