<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->

    <style type="text/css">
        @page { size:21.0cm 14.85cm; margin:2cm 1cm 2cm 1cm; }

        h1{
            margin: 0;
        }
        p{
            max-width: 650px;
        }

        table{
            width: 650px;
            margin-top: 20px;
            border-collapse: collapse;
        }
        table.items th{
            border-bottom: 2px solid #000000;
        }
        table.items th:first-child,
        table.items td:first-child{
            border-left: none;

        }
        table.items th,
        table.items td{
            border-left: 1px solid black;

        }
        table.items tr:last-child{
            border-bottom: 2px solid black;

        }

        table td{
            text-align: right;
        }
        table.summe {
            padding-left: 50%;
            display: block;
        }

        .borderbottom{
            border-bottom: 1px solid #000000;
            width: 250px;
        }


        img.logo{
            width: 50%;

        }
        img.logoKlein{

            width: 10%;

        }
        .adresse p{
            margin: 0;
            padding: 0;
        }
        .adresse br{
            display: none;
        }

        div.fooder{
            position:absolute;
            bottom:0px;
        }

        div.fooder table td{
            text-align: center;
        }
        div.boninfo{
            width: 100%;
        }



    </style>
</head>
<body>
<img   alt="Blumenschule Logo" src="/images/Demo_Logo.gif">
<img  class="logo" alt="Blumenschule Logo" src="/images/logo_blumenschule.png">
<img  class="logoKlein" alt="Blumenschule Logo" src="/images/200px-Naturland_Logo.png">

<h1>Quittung</h1>


{% if bontext|length > 0 %}
<p>
<strong>Kunde:</strong>
<div class="adresse">
    {{bontext|raw  }}
</div>

</p>
{% endif %}

<p>
Die Blumenschule - Sabine Friesch<br>
Augsburgerstraße 62<br>
86956 Schongau<br>
Telefon: 08861 / 7373 Fax: 08861 / 1272<br>
EMail: info@blumenschule.de<br>
</p>

Datum {{ "now"|date("d.m.Y") }} Uhrzeit: Datum {{ "now"|date("H:i:s") }}

<table class="items">

    <thead>

    <tr>
        <th>Pos</th>
        <th>Menge</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th>Summe</th>
    </tr>
    </thead>
    <tbody class="co_items">
    {% for item in basket.checkoutItems %}
        <tr data-sum="{{ (item.quantity * item.price) }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price|number_format(2, '.', ',')  }} &euro;</td>
            <td>{{ (item.quantity * item.price)|number_format(2, '.', ',')  }}  &euro;
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<table class="summe">
    <tr>

            <th> Summe Netto</th>
            <td> {{ summary.netto |number_format(2, '.', ',')  }}  &euro;</td>
        </tr>
        <tr>
            <th> MwSt 19%</th>
            <td> {{ summary.mwst19|number_format(2, '.', ',')  }}  &euro;</td>
        </tr>
        <tr>
            <th> MwSt 7%</th>
            <td> {{ summary.mwst7|number_format(2, '.', ',')  }}  &euro;</td>
        </tr>
        <tr>
            <th>Gesamt</th>
            <td> {{ summary.sum |number_format(2, '.', ',')  }}  &euro;</td>
        </tr>

    </table>

<div class="boninfo">
{{ info|raw }}
</div>
<div class="fooder">
    <table>
    <tr>
        <td> Bio-Kontrollnr.: D-BY-M-005-09699A<br> </td>
        <td>
            DE-Öko-Kontrollstelle 005
        </td>
    </tr>
    <tr>
        <td>
            Pflanzen-Pass: DE-BY-111444
        </td>
        <td>
            USt-IdNr: DE131255548
        </td>
    </tr>

    </table>

</div>

</body>
</html>