

{% extends '::base.html.twig' %}
{% block title %}Buchhaltung - Zahlungsmethoden{% endblock %}


{% block javascripts %}
<script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/pm.js') }}" type="text/javascript"></script>
{% endblock %}



{% block body %}


<h1>  {{ entity.name }} bearbeiten</h1>
   </div>
</header>

<form action="{{ path('BSData_paymentmethods_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_errors(edit_form) }}
    <table>
        <tr>
            <th>
                {{ form_label(edit_form.id) }}
            </th>
            <td>
                {{ form_widget(edit_form.id) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.Name) }}
            </th>
            <td>
                {{ form_widget(edit_form.Name) }}
            </td>
        </tr>

        <tr>
            <th>
                {{ form_label(edit_form.Debitor) }}
            </th>
            <td>
                {{ form_widget(edit_form.Debitor) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.BankAccount) }}
            </th>
            <td>
                {{ form_widget(edit_form.BankAccount) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.invoice) }}
            </th>
            <td>
                {{ form_widget(edit_form.invoice) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.payment) }}
            </th>
            <td>
                {{ form_widget(edit_form.payment) }}
            </td>
        </tr>




    </table>


    {{ form_rest(edit_form) }}


    <p>
        <button class="button" type="submit">Speichern</button>
    </p>
</form>


{% endblock %}