<h1>Plant edit</h1>

<form action="{{ path('BSData_plant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_errors(edit_form) }}
    <table>
        <tr>
            <th>
                {{ form_label(edit_form.name) }}
            </th>
            <td>
                {{ form_widget(edit_form.name) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.code) }}
            </th>
            <td>
                {{ form_widget(edit_form.code) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.latein) }}
            </th>
            <td>
                {{ form_widget(edit_form.latein) }}
            </td>
        </tr>

        <tr>
            <th>
                {{ form_label(edit_form.hardy) }}
            </th>
            <td>
                {{ form_widget(edit_form.hardy) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.place) }}
            </th>
            <td>
                {{ form_widget(edit_form.place) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.synonym) }}
            </th>
            <td>
                {{ form_widget(edit_form.synonym) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ form_label(edit_form.instructions) }}
            </th>
            <td>
                {{ form_widget(edit_form.instructions) }}
            </td>
        </tr>
        <tr>
            <th>Höhe</th>
            <td>{{ form_widget(edit_form.hfrom )}}</td>
            <td>{{ form_widget(edit_form.hto) }}</td>
        </tr>
        <tr>
            <th>H_to</th>

        </tr>
        <tr>
            <th>B_from</th>
            <td>{{ form_widget(edit_form.bfrom) }}</td>
        </tr>
        <tr>
            <th>B_to</th>
            <td>{{ form_widget(edit_form.bto )}}</td>
        </tr>
        <tr>
            <th>B_color</th>
            <td>{{ form_widget(edit_form.bcolor) }}</td>
        </tr>
        <tr>
            <th>Flavour</th>
            <td>{{ form_widget(edit_form.flavour) }}</td>
        </tr>
        <tr>
            <th>Light</th>
            <td>{{ form_widget(edit_form.light) }}</td>
        </tr>
        <tr>
            <th>Base</th>
            <td>{{ form_widget(edit_form.base )}}</td>
        </tr>
        <tr>
            <th>Labeltext</th>
            <td>{{ form_widget(edit_form.labeltext) }}</td>
        </tr>
        <tr>
            <th>Habitus</th>
            <td>{{ form_widget(edit_form.habitus )}}</td>
        </tr>
        <tr>
            <th>Pricegroup</th>
            <td>{{ form_widget(edit_form.pricegroup) }}</td>
        </tr>
        <tr>
            <th>Potsize</th>
            <td>{{ form_widget(edit_form.potsize )}}</td>
        </tr>
        <tr>
            <th>Aviable</th>
            <td>{{ form_widget(edit_form.aviable) }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ form_widget(edit_form.comment )}}</td>
        </tr>


    </table>

    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('BSData_plant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('BSData_plant_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
