
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block title %} INTERN - Pflanzen{% endblock %}


{% block javascripts %}
<script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/jquery-ui-1.8.20.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/plant.js') }}" type="text/javascript"></script>
{% endblock %}



{% block body %}

            <h1>Pflanzen</h1></div>
    </div>
</header>
<nav class="ym-hlist">

    <ul>


        <li><a  href="{{ path('BSData_mainmenu') }}">
            zurück
        </a>
        </li>
    </ul>
</nav>


<div class="ym-column">





    <div class="ym-col1">


        <div class="ym-cbox ">
            <table class="bordertable">
                <thead>
                <tr>
                    <th><label for="search_code">{{ pagination.sortable('Code', 'a.code')|raw }}</label> <br>
                        <input type="text" id="search_code" class="search_code" value="" size="10" />
                       </th>
                    <th>
                        <label for="search_name" >{{ pagination.sortable('Name', 'a.name')|raw }} </label><br>
                        <input type="text" id="search_name" class="search_name" value="" size="20" >
                    </th>

                    <th><label for="search_latein">{{ pagination.sortable('Latein', 'a.latein')|raw }}</label><br>
                        <input type="text" id="search_latein" class="search_latein" value="" size="20" >
                    </th>
                  <!--  <th>Winterhärte</th>
                    <th>Standort</th>
                    <th>Synonym</th>
                    <th>Höhe</th>
                    <th>Blütezeit</th>
                    <th>Farbe</th>
                    <th>Duft</th>
                    <th>Licht</th>
                    <th>Boden</th>
                    <th>Habitus</th> -->
                    <th>Preisgruppe</th>
                    <th>Topfgröße</th>
                    <th>Lieferbar</th>
                    <th>Bemerkung</th>
                    <th colspan="2">Aktionen</th>
                </tr>
               <tr>

               </tr>

                </thead>
                <tbody class="results">
                {% for entity in pagination %}
                <tr onclick="$('div .plantshow').load('{{ path('BSData_plant_edit', { 'id': entity.id }) }}'); ">
                    <td>{{ entity.code }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.latein }}</td>
                   <!-- <td>{{ entity.hardy }}</td>
                    <td>{{ entity.place }}</td>
                    <td>{{ entity.synonym }}</td>
                    <td>{{ entity.hfrom }} - {{ entity.hto }}</td>
                    <td>{{ entity.bfrom }} - {{ entity.bto }}</td>
                    <td>{{ entity.bcolor }}</td>
                    <td>{{ entity.flavour }}</td>
                    <td>{{ entity.light }}</td>
                    <td>{{ entity.base }}</td>
                    <td>{{ entity.habitus }}</td> -->
                    <td>{{ entity.pricegroup }}</td>
                    <td>{{ entity.potsize }}</td>
                    <td>{{ entity.aviable }}</td>
                    <td>{{ entity.comment }}</td>
                    <td>
                        <a class="ym-button" href="{{ path('BSData_plant_edit', { 'id': entity.id }) }}">Bearbeiten</a></td>
                    <td>

                        <a class="ym-button" href="{{ path('BSData_plant_edit', { 'id': entity.id }) }}">Etikett</a>

                    </td>
                </tr>

                {% endfor %}
                </tbody>

                <tr>
                    <td colspan="9" >

                        {{ pagination.render()|raw }}

                    </td>
                </tr>




            </table>


            </div>
        </div>
    </div>
</div>



<div class="plantshow"> </div>

        {% endblock %}