{% extends '::base.html.twig' %}

{% block title %} INTERN - Hauptmenu {% endblock %}


{% block body %}


<h1>Hauptmenu</h1>

</div>
</header>
<div class="ym-grid">

    <div class="ym-g33 ym-gl">
        <div class="ym-gbox menu">

            <h2>Aufträge</h2>
            <ul>
                <!-- <li><a href="{{ path('BSOrder_search') }}">Suche</a></li> -->
                <li><a href="{{ path('BSOrder_state',{ 'state': 5.5 })  }}">Sammelpack</a></li>
                <li><a href="{{ path('BSOrder_state_open',{ 'state': 4 }) }}">Offene</a></li>
                <!-- <li><a href="{{ path('BSOrder_packet') }}">Versand</a></li> -->

            </ul>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div class="ym-gbox menu">
            <h2>Daten</h2>
            <ul>
                <li><a href="{{ path('BSData_plant', { 'page': 1 }) }}">Pflanzen</a></li>
                <li><a href="{{ path('BSData_product', { 'page': 1 }) }}">Waren</a></li>
                <li><a href="{{ path('BSData_stock') }}">Lager</a></li>

            </ul>

        </div>
    </div>
   <!--
    <div class="ym-g33 ym-gl">
        <div class="ym-gbox menu">
            <h2>Buchhaltung </h2>
            <ul>
                <li><a href="{{ path('BSOrder_accounting' )}}">Export</a></li>
                <li><a href="{{ path('BSData_paymentmethods' )}}">Zahlungsarten</a></li>


            </ul>
        </div>
    </div>
    -->
    <div class="ym-g33 ym-gl">
        <div class="ym-gbox menu">
            <h2>Kasse </h2>
            <ul>
                <li><a href="{{ path('BSCheckout_home' )}}" >Kasse</a></li>
                <li><a href="{{ path('BSCheckout_home' )}}" >Kassenabschluss</a></li>


            </ul>
        </div>
    </div>


</div>


{% endblock %}