{% extends '::base.html.twig' %}

{% block title %} Die Gärtner der Blumenschule {% endblock %}


{% block body %}

<div id="title">

        <h1>Hauptmenu</h1>
    <img src="{{ asset('/images/logo_blumenschule.png') }}" alt="Blumenschule Logo" width="400px" style="display: inline"/>
</div>

<div class="menu">

    <h1>Aufträge</h1>
    <ul >
        <!-- <li><a href="{{ path('BSOrder_search') }}">Suche</a></li> -->
        <li><a href="{{ path('BSOrder_state',{ 'state': 5.5 })  }}">Sammelpack</a></li>
        <li><a href="{{ path('BSOrder_state_open',{ 'state': 4 }) }}">Offene</a></li>
        <!-- <li><a href="{{ path('BSOrder_packet') }}">Versand</a></li> -->

    </ul>


</div>


<div class="menu">
    <h1>Daten</h1>
    <ul>
        <li><a href="{{ path('BSData_plant', { 'page': 1 }) }}" >Pflanzen</a></li>
        <li><a href="{{ path('BSData_product', { 'page': 1 }) }}" >Waren</a></li>
        <li><a href="{{ path('BSData_stock') }}" >Lager</a></li>

    </ul>


</div>


<div class="menu">
    <h1>Buchhaltung </h1>
    <ul>
        <li><a href="{{ path('BSOrder_accounting' )}}" >Export</a></li>
        <li><a href="{{ path('BSData_paymentmethods' )}}" >Zahlungsarten</a></li>


    </ul>


</div>



{% endblock %}