

{% extends '::base.html.twig' %}
{% block title %}Artikel - Editieren - {{ entity.getArticleNo }}{% endblock %}

{% block body %}
<h1>Artikel - Editieren - {{ entity.getArticleNo }} </h1>

<form action="{{ path('BSData_product_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>



    {{ form_errors(edit_form) }}
<table>
    <tr>
        <th>
            {{ form_label(edit_form.article_id) }}
        </th>
        <td>
            {{ form_widget(edit_form.article_id) }}
        </td>
        <th>
            {{ form_label(edit_form.article_no) }}
        </th>
        <td>
            {{ form_widget(edit_form.article_no) }}
        </td>

    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.name) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.name) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.name2) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.name2) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.name3) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.name3) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.price) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.price) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.label_text) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.label_text) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.quantity) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.quantity) }}
        </td>
    </tr>
    <tr>
        <th>
            {{ form_label(edit_form.stock) }}
        </th>
        <td colspan="3">
            {{ form_widget(edit_form.stock) }}
        </td>
    </tr>
</table>








    {{ form_rest(edit_form) }}



    <ul class="record_actions buttons">
    <li>
        <button class="button" type="submit">Speichern</button>
    </li>


</form>

<li>
        <a class="button" href="{{ path('BSData_product') }}">
            zurück
        </a>
    </li>
    <li>
        <form action="{{ path('BSData_product_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="button" type="submit">Delete</button>
        </form>
    </li>
</ul>
        {% endblock %}