
{% extends '::base.html.twig' %}
{% block title %}Produkte{% endblock %}


{% block body %}

<h1>Artikel </h1>

<table class="records_list">
    <thead>
        <tr>

            <th>{{ pagination.sortable('Code', 'a.article_no')|raw }}</th>
            <th>{{ pagination.sortable('Name', 'a.name')|raw }}</th>
            <th>Price</th>
            <th>Lager</th>



            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr>


            <td>{{ entity.articleno }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.stock }}</td>



            <td>
                <ul>
                    <li>
                        <a href="{{ path('BSData_product_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('BSData_product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ pagination.render()|raw }}
</div>

<ul class="buttons">
    <li>
        <a class="button" href="{{ path('BSData_product_new') }}">
            Neu
        </a>
    </li>
    <li><a class="button" href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
</ul>
        {% endblock %}