{% extends '::base.html.twig' %}
{% block title %}INTERN - Etiketten{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/south-street/jquery-ui-1.10.0.custom.min.css" type="text/css"/>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/jquery-ui-1.10.0.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/lable2.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h1>Etiketten </h1>
    </div>
    </header>
    <nav class="ym-hlist">


        <ul>

            <li><a href="{{ path('BSData_mainmenu') }}">zurück</a></li>
        </ul>

    </nav>

    <div class="ym-grid">


        <div class="ym-gl ym-g50">

            <div class="ym-gbox">

                <h3>Suche über die Felder Name Botanisch und Code</h3>



                <form  class="ym-form LableForm" action="{{ path('BSData_product_lable_print') }}" method="post" >

                    <img src="" class="article_pic">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="labelform[name]">
                    <label for="name2">Botanisch</label>
                    <input type="text" id="name2" name="labelform[name2]" >
                    <label for="articlecode">Code</label>
                    <input type="text" id="articlecode" name="labelform[articlecode]">
                    <label for="articleid">ArtikelID <strong>ACHTUNG BEI EIGENEN ARTIKELN ID LÖSCHEN</strong></label>
                    <input type="text" id="articleid" name="labelform[articleid]">

                    <label for="description">Beschreibung</label>
                    <textarea style="width: 350px;height: 93px;" id="description" name="labelform[description]">   </textarea >

                    <input type="hidden" id="picurl" name="labelform[picurl]">
                    <p>
                        <button type="submit">Etikett erstellen</button>    <button style="float: right" id="addDinA6">zu DinA6 hinzufügen</button>
                    </p>
                </form>


            </div>
            <div class="ym-gbox pdf-print">
                <object class="PdfOut" data="{{ urlPDF }}" type="application/pdf" width="100%" height="200px"></object>

            </div>


        </div>
        <div class="ym-gl ym-g50">
            <h3>DinA6 Druck Auswahl</h3>
            <form class="ym-form form-dinA6" action="{{ path('BSData_product_printA6') }}"  method="post" >
                <div id="labelsToPrint">

                </div>
                <p>
                    <button type="submit">Print</button>
                </p>
            </form>




        </div>
    </div>

{% endblock %}