{% extends '::base.html.twig' %}
{% block title %}INTERN - Waren{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/product.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h1>Waren </h1>
    </div>
    </header>

    <nav class="ym-hlist">
        <ul>
            {% if back %}
                <li><a href="{{ back }}">zurück</a></li>
            {% else %}
                <li><a href="{{ path('BSData_mainmenu') }}">zurück</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="ym-grid content" >


        <div class="ym-gl">

            <div class="ym-gbox">
                <object id="PDF" data="{{ urlPDF }}" type="application/pdf" width="1500px" height="600px"></object>

            </div>


        </div>
    </div>

{% endblock %}