<form  class="stockProductForm" action="{{ path('BSData_product_stock', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_errors(form.Stock) }}
    {{ form_widget(form.Stock) }}
    {{ form_rest(form) }}

</form>