{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/orders.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block javascripts %}
    <script src=" http://code.jquery.com/jquery-1.7.2.js" type="text/javascript"></script>

{% endblock %}


{% block title %}Buchhaltung - Export - Lexware{% endblock %}


{% block body %}

<form action="{{ path('BSOrder_export') }}" method="get" >
<div id="title"> Buchhaltung - Export - Lexware </div>

        <table class="table_orders">
            <thead>
                <tr>
                   <th>
                       {{ orders.sortable('Auftragsnummer', 'o.OrderID')|raw }}
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        {{ orders.sortable('Name', 'o.Lastname')|raw }}
                    </th>
                    <th>
                        {{ orders.sortable('Auftragswert', 'o.TotalBrutto')|raw }}
                    </th>
                    <th>
                        {{ orders.sortable('Zahlungsart', 'o.PaymentMethods')|raw }}
                    </th>
                    <th>
                        {{ orders.sortable('Rechnungsnummer', 'o.invoiceNumber')|raw }}
                    </th>
                    <th>
                        {{ orders.sortable('Zahlungseingang', 'o.PaidTimestamp')|raw }}
                    </th>
                    <th>
                        {{ orders.sortable('Auftragsende', 'o.DoneTimestamp')|raw }}
                    </th>


                </tr>
            </thead>

            <tbody>
            {% for order in orders %}
            <tr>

                <td  class="Order_NO">
               {{order.getOrderID}}
              </td>
                <td >
                    {{order.getOrderStatus| number_format(2, ',', '.') }}
               </td>
                <td class="Order_Name">
                    {{order.getFirstName}}  {{order.getLastname}}
                </td>
                <td>
                    {{order.getTotalBrutto| number_format(2, ',', '.') }} &euro;
                </td>
                <td>
                    {{order.getPaymentMethods.name }}
                </td>
                <td>
                    {{order.getInvoiceNumber }}
                </td>
                <td>
                    {{order.getPaidTimestamp |date("d.m.Y")}}
                </td>
                <td>
                    {{order.getDoneTimestamp |date("d.m.Y")}}
                </td>

            </tr>


            {% endfor %}
            </tbody>


        </table>
<div class="navigation">



    {{ orders.render()|raw }}

    <ul class="buttons">
        <li>
            <input class="button" type="submit" value="EXPORT" />

        </li>
        <li><a class="button" href="{{ path('BSData_mainmenu') }}" >zurück</a></li>

    </ul>

</div>


</form>




        {% endblock %}