{% extends '::base.html.twig' %}

{% block title %}Auftragsbearbeitung{% endblock %}


{% block body %}

<div id="title"> Aufträge zur Kommisonierung</div>


<form action="{{ path('BSOrder_print') }}" method="post" >

        <table class="table_orders">
            <thead>
                <tr>
                    <th>
                        Packliste
                    </th>
                    <th>
                        Auftragsnummer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Auftragswert
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for item in orders %}
            <tr>
                <td rowspan="2">
                    <input type="checkbox" name="ID{{item.OrderHead.OrderID}}" value="{{item.OrderHead.OrderID}}">
                </td>

                <td rowspan="2">
               {{item.OrderHead.OrderID}}
              </td>
                <td rowspan="2">
                    {{item.OrderHead.OrderStatus}}
               </td>
                <td>
                    {{item.OrderCustomerAddress.FirstName}}  {{item.OrderCustomerAddress.Surname}}
                </td>
                <td>
                    {{item.OrderHead.TotalBrutto| number_format(2, ',', '.') }} &euro;
                </td>
                <td>
                    {{item.OrderHead.EstimatedTimeOfShipment |date("d.m.Y")}}
                </td>

            </tr>
            <tr>


                <td colspan="3">
                    <div>
                        <table>
                            {% for oitem in item.OrderItems.item %}
                            <tr>
                            <td>
                               {{oitem.Quantity}}
                            </td>
                            <td>
                               {{oitem.ItemText}}
                            </td>
                            <td>
                                {{oitem.Price | number_format(2, ',', '.') }} &euro;
                            </td>
                            </tr>



                            {% endfor %}
                        </table>

                    </div>

                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

    <input type="submit" value="Sammeldruck erstellen" />
</form>





        {% endblock %}