{% extends '::base.html.twig' %}

{% block title %}Auftragsbearbeitung{% endblock %}


{% block body %}

<div id="title"> Aufträge zur Kommisonierung</div>


<form action="{{ path('BSOrder_print') }}" method="post" >

        <table class="table_orders">
            <thead>
                <tr>
                    <th>
                        Packliste
                    </th>
                    <th>
                        Auftragsnummer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Auftragswert
                    </th>
                    <th>
                        Geändert
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td rowspan="2">
                    <input type="checkbox" name="ID{{order.head.getOrderID}}" value="{{order.head.getOrderID}}">
                </td>

                <td rowspan="2">
               {{order.head.getOrderID}}
              </td>
                <td rowspan="2">
                    {{order.head.getOrderStatus| number_format(2, ',', '.') }}

               </td>
                <td>
                    {{order.head.getFirstName}}  {{order.head.getLastname}}
                </td>
                <td>
                    {{order.head.getTotalBrutto| number_format(2, ',', '.') }} &euro;
                </td>
                <td>
                    {{order.head.getLastUpdate |date("d.m.Y")}}
                </td>

            </tr>
            <tr>


                <td colspan="3">
                    <div>
                        <table>
                            {% for item in order.items %}
                            <tr>
                            <td>
                               {{item.getQuantity}}
                            </td>
                            <td>
                               {{item.getArticleCode}}
                            </td>


                                <td>
                               {{item.getItemText}}
                            </td>
                            <td>
                                {{item.getPrice | number_format(2, ',', '.') }} &euro;
                            </td>
                            </tr>



                            {% endfor %}
                        </table>

                    </div>

                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

    <input type="submit" value="Sammeldruck erstellen" />
</form>





        {% endblock %}