{# src/Acme/BSLable/Resources/views/Default/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Auftragsbearbeitung{% endblock %}


{% block body %}

<div id="PDF">
    <object data="{{urlPDF}}" type="application/pdf" width="800" height="900"  > </object>
</div>



<div id="menu2">

    <ul>
        <li>   <form action="{{ path('BSOrder_set_state') }}" method="post" >
            {% for order in orders %}
                    <input type="hidden" name="ID{{order}}" value="{{order}}">
            {% endfor %}
                    <input type="submit" value="Status 6 setzen" />
                </form>

         </li>

        <li><a href="{{ path('BSOrder_state') }}" >zurück</a></li>

    </ul>

</div>


{% endblock %}