
{% extends '::base2.html.twig' %}

{% block title %}Kasse{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('/js/cashbox.js') }}" type="text/javascript"></script>


{% endblock %}

{% block body %}
<h1>Kasse {{ entity.name }}</h1>
    </div>
    </header>
<div class="ym-wrapper">

    <div class="ym-column">
        <div class="ym-col1">

            <div class="ym-cbox">

                <table class="bordertable">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Preis</th>
                            <th>Taste</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key,config in quickbuttons  %}
                        <tr>
                            <td>{{ config.pos}}</td>
                            <td>{{ config.name}}</td>
                            <td>{{ config.code }}</td>
                            <td>{{ config.price }}</td>
                            <td>F {{ config.quickkey - 111 }}</td>
                            <td>
                                <a  class="ym-button edit_quickbutton" href="{{ path('cashbox_quickbutton_edit', { 'id': config.id }) }}">edit</a>
                            </td>
                            <td>
                                <form action="{{ path('cashbox_quickbutton_delete', { 'id': config.id }) }}" method="post">
                                    <button  class="ym-button" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="ym-cbox ">
                <form class="ym-form" action="{{ path('cashbox_bontext_save', { 'id': entity.id   }) }}" method="post">
                    {{ form_widget(bontext, { 'attr': {'class': 'ym-fbox-text'} }) }}
                    <button class="ym-button" type="submit">Speichern</button>
                </form>
            </div>
        </div>


        <div class="ym-col2">

            <div class="ym-cbox edit_area" >

                <div id="wysihtml5-toolbar" style="display: none;">
                    <a data-wysihtml5-command="bold">bold</a>
                    <a data-wysihtml5-command="italic">italic</a>

                    <!-- Some wysihtml5 commands require extra parameters -->
                    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
                    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
                    <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>

                    <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
                    <a data-wysihtml5-command="createLink">insert link</a>
                    <div data-wysihtml5-dialog="createLink" style="display: none;">
                        <label>
                            Link:
                            <input data-wysihtml5-dialog-field="href" value="http://" class="text">
                        </label>
                        <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
                    </div>
                </div>

                <form class="ym-form" action="{{ path('cashbox_quickbutton_create') }}" method="post">
                {{ form_widget(quickbutton_form) }}
                <button class="ym-button" type="submit">Add Button</button>
                </form>
            </div>
            <div class="ym-cbox">
                <a href="{{ path('BSCheckout_home', { 'cashbox_id': entity.id   }) }}" class="ym-button">zurück</a>
            </div>
        </div>
</div>


{% endblock %}