{% extends '::base.html.twig' %}
{% block title %}INTERN - Lager- {{ entity.name }} - Bearbeiten{% endblock %}


{% block body %}

<h1>Lager - {{ entity.name }} - Bearbeiten</h1>
</div>
</header>
<nav class="ym-hlist">

    <ul >
        <li>
            <a  href="{{ path('BSData_stock_new') }}">
                Neur Lagerplatz
            </a>
        </li>
        <li><a href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
    </ul>

</nav>

<form action="{{ path('BSData_stock_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions buttons">
    <li>
        <a class="button" href="{{ path('BSData_stock') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form  action="{{ path('BSData_stock_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="button" type="submit">Delete</button>
        </form>
    </li>
</ul>
        {% endblock %}