
{% extends '::base.html.twig' %}
{% block title %}Lager{% endblock %}


{% block body %}

<h1>Lager</h1>

<ul class="buttons ">
    <li>
        <a class="button" href="{{ path('BSData_stock_new') }}">
            Neu
        </a>
    </li>
    <li><a class="button" href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
</ul>


<table class="records_list">
    <thead>
        <tr>
            <th>Number</th>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.number }}</td>
            <td>{{ entity.Id }}</td>
            <td>{{ entity.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('BSData_stock_show', { 'id': entity.id }) }}">Anzeigen</a>
                    </li>
                    <li>
                        <a href="{{ path('BSData_stock_edit', { 'id': entity.id }) }}">Bearbeiten</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        {% endblock %}