
{% extends '::base.html.twig' %}
{% block title %}Lager{% endblock %}


{% block body %}

<h1>Lager</h1>
</div>
</header>
<nav class="ym-hlist">

    <ul >
        <li>
            <a  href="{{ path('BSData_stock_new') }}">
                Neur Lagerplatz
            </a>
        </li>
        <li><a href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
    </ul>

</nav>

<div class="ym-grid">
    <div class="ym-gl ym-g80">
        <table class="bordertable narrow">
            <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th>PlentyStockID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.number }}</td>
                <td>{{ entity.Id }}</td>
                <td>{{ entity.PlentyStockID }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('BSData_stock_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('BSData_stock_show', { 'id': entity.id }) }}">Pflanzen</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


</div>

        {% endblock %}