{% extends '::base.html.twig' %}
{% block title %}INTERN - Neuer Lagerplatz{% endblock %}


{% block body %}

<h1>Neuer Lagerplatz </h1>
</div>
</header>
<nav class="ym-hlist">

    <ul >
        <li>
            <a  href="{{ path('BSData_stock_new') }}">
                Neur Lagerplatz
            </a>
        </li>
        <li><a href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
    </ul>

</nav>

<form action="{{ path('BSData_stock_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions buttons">
    <li>
        <a class="button" href="{{ path('BSData_stock') }}">
           zurück
        </a>
    </li>
</ul>
        {% endblock %}