{% extends '::base.html.twig' %}
{% block title %}Lager{% endblock %}


{% block body %}

<h1>Lager - {{ entity.name }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ entity.number }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions buttons">
    <li>
        <a class="button" href="{{ path('BSData_stock') }}">
            zurück
        </a>
    </li>
    <li>
        <a class="button" href="{{ path('BSData_stock_edit', { 'id': entity.id }) }}">
            Bearbeiten
        </a>
    </li>
    <li>
        <form action="{{ path('BSData_stock_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="button" type="submit">Löschen</button>
        </form>
    </li>
</ul>
        {% endblock %}